.dashboard-main {
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 40px;
  min-width: 0;
}
.dashboard-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  margin-top: 130px;
  background-color: #fff;
}
.dashboard-right {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 20px;
  background-color: #f5f9ff;
  padding-top: 130px;
}

.activity-feed-header {
  margin: 0px 20px;
  grid-column: 1 / span 2; /* Spans across both columns */
}
/* Large Desktop: 1440px+ */
@media (min-width: 1440px) {
  .dashboard-left,
  .dashboard-right {
    gap: 32px;
  }
  .dashboard-right {
    padding-left: 30px;
  }
}

/* Desktop: 1024px - 1439px */
@media (max-width: 1439px) and (min-width: 1024px) {
  .dashboard-main {
    padding: 28px;
  }

  .dashboard-content {
    margin-bottom: 28px;
  }

  .dashboard-left,
  .dashboard-right {
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .dashboard-content {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
  }

  .dashboard-left {
    order: 2;
    margin-top: 10px;
    flex-direction: column;
  }

  .dashboard-right {
    order: 1;
    margin-top: 110px;
    padding-top: 20px;
  }

  .dashboard-left,
  .dashboard-right {
    gap: 16px;
  }
}

/* Tablet: 768px - 1023px */
@media (max-width: 1023px) and (min-width: 768px) {
  .dashboard-main {
    padding: 24px;
  }

  .dashboard-content {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;
  }

  .dashboard-left {
    order: 2;
    grid-template-columns: 1fr;
  }

  .dashboard-right {
    order: 1;
  }

  .dashboard-left,
  .dashboard-right {
    gap: 20px;
  }
}

/* Mobile Large: 480px - 767px */
@media (max-width: 767px) and (min-width: 480px) {
  .dashboard-main {
    padding: 20px;
  }

  .dashboard-content {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dashboard-left {
    order: 2;
    margin-top: 10px;

    flex-direction: row;
  }

  .dashboard-right {
    order: 1;
    margin-top: 110px;
  }

  .dashboard-left,
  .dashboard-right {
    gap: 16px;
  }
  .main-section {
    width: 550px;
  }
}

/* Mobile Small: 320px - 479px */
@media (max-width: 479px) {
  .dashboard-main {
    padding: 16px;
  }

  .dashboard-content {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 16px;
  }

  .dashboard-left {
    order: 2;
    grid-template-columns: 1fr;
  }

  .dashboard-right {
    order: 1;
    padding: 10px;
  }

  .dashboard-left,
  .dashboard-right {
    gap: 12px;
    grid-template-columns: 1fr;
  }
}
